.gameZone {

    width: 300px;
    height: 300px;
    margin: 0 auto;
    color: #fff;
    display: grid;
  
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
  .score {

    margin-top: 30px;
    text-align: center;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .box
  {
  
    margin: 3px;
    border-radius: 15px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Font Awesome 5 Free";
    background-color: #D3D3D3;
    cursor: pointer;
    transition: background-color 0.2s;
  
    &.croixNext:hover {
      background-color: #dc685a;
  
      &.croixNext::after {
        content: "\f00d";
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
    }
  
    &.rondNext:hover {
      background-color: #b6d173;
  
      &.rondNext::after {
        font-weight: 400;
        content: "\f111";
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
    }
  
    &.computer {
      cursor: not-allowed;
    }
  
    &.croix {
      background-color: #dc685a;
     
      &.croix::after {
        content: "\f00d";
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
  
    }
  
    &.rond {
      background-color: #b6d173;
  
      &.rond::after {
        font-weight: 400;
        content: "\f111";
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      }
    }
  
   
  }
  
  
  .resultModal {
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  .result {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
  
    h3 {
      font-size: 18px;
      margin-top:-10px;
    }
  
    hr {
      width: 100%;
      border: 1px solid black;
      margin: 0 auto 10px auto;
    }
  
    p {
      font-weight: 400;
      font-size: 18px;
    }
  
    img {
      margin-bottom: 20px; 
    }
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  hr {
    margin: 20px auto 20px auto;
    width: 300px;
    border-color: black;
  }