<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>Morpion</h2>
      <hr>
      <div class="gameZone">

        <div class="box" *ngFor="let case of cases; let i = index" [ngClass]="{'croix': case.value === 'C', 
        'rond': case.value === 'R', 
        'croixNext' : tour === 0 && case.value === '', 
        'computer' : tour === 1}" (click)="playerClick(i)">
        </div>
      </div>
    </div>

    <div *ngIf="isGameOver" class="col-md-12 resultModal">
      <div class="result">
        <h3>Terminé</h3>
        <hr>
        <p>{{gameResultats}}</p>
        <button class="btn btn-info" (click)=restartGame()>Nouvelle partie</button>
      </div>
    </div>
  </div>
</div>